# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Output
outputs/*
!outputs/.gitkeep

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

# Editor & OS
.vscode/
.DS_Store
Thumbs.db